/* Overrides */

/* Add new fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic,700italic);

@font-face {
    font-family: "LLCircularWeb";
    src: url("../fonts/lineto-circular-book-c-2a3a1a903ab9b662a71a00070662a1e4.eot");
    src: url("../fonts/lineto-circular-book-c-2a3a1a903ab9b662a71a00070662a1e4.eot#iefix") format("embedded-opentype"), 
    url("../fonts/lineto-circular-book-c-81971bdf18c6cee751b9276cc9c66256.woff") format("woff"), 
    url("../fonts/lineto-circular-book-c-a4d4bae394e6934f945f3491962659b0.ttf") format("truetype"), 
    url("../fonts/lineto-circular-book-c-fb1e040b6eb358b0ebb620e34a00e4d3.svg#LLCircularWeb-Book") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "LLCircularWeb";
    src: url("../fonts/lineto-circular-bold-c-225c53499a27f9cb46d75139bdc02d50.eot");
    src: url("../fonts/lineto-circular-bold-c-225c53499a27f9cb46d75139bdc02d50.eot#iefix") format("embedded-opentype"), 
    url("../fonts/lineto-circular-bold-c-1ed849715239cf3ee94391e37147b9f7.woff") format("woff"), 
    url("../fonts/lineto-circular-bold-c-5da5bc5049eddc60ed7950283f9630ed.ttf") format("truetype"), 
    url("../fonts/lineto-circular-bold-c-1bb69fff52662e6f056a7b89885310c3.svg#LLCircularWeb-Bold") format("svg");
    font-weight: bold;
    font-style: normal
}

/* Template styles */
body {
	font-family: LLCircularWeb, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;	
	font-size: 18px !important;
    line-height: 1.428571429 !important;
    color: #595a5c !important;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

.header-light {
	height: 100px;
}

.header-logo img {
    margin-bottom: 50px;
}
#header-fixed .header-icon-left {
    position: absolute;
    z-index: 12;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #7b66a1;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #7b66a1 !important; 	
}
.bg-5 {
	background-image: url(../images/la_skyline_background-feebbed6a93929664d717702e7d6f5f7.jpg);
}
.bg-black {
	background-color: transparent;
}

/* Login Page */
.pageapp-login .text-center {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}
.pageapp-login .text-center h2 {
	color: #595a5c;
	font-size: 30px;
}
.pageapp-login .boxed-layout {
	padding: 0px;
}
.pageapp-login .boxed-layout div input {
	padding-left: 0px;
}

.form-control {
    display: block !important;
    width: 100% !important;
    height: 50px !important;
    padding: 6px 12px !important;
    font-size: 18px !important;
    line-height: 1.428571429 !important;
    color: #555555 !important;
    background-color: white !important;
    background-image: none !important;
    border: 1px solid #cccccc !important;
    border-radius: 3px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
}

.form-control:focus {
    border-color: #3dc6cc !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}

.form-control::-moz-placeholder {
    color: #999999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999999
}

.form-control::-webkit-input-placeholder {
    color: #999999
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eeeeee;
    opacity: 1
}

textarea.form-control {
    height: auto
}

.form-label {
	font-weight: bold;
	margin-bottom: 0.3rem;
	position: relative;
}
input[type="search"] {
    -webkit-appearance: none
}

input[type="date"] {
    line-height: 34px
}

.form-group {
    margin-bottom: 15px
}

#loginform {
    margin-top: 50px;
}
#loginform label {
	margin-left: 0px;
	font-size: 14px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0
}

.btn-block+.btn-block {
    margin-top: 5px
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%
}

.btn-main,
#home-page #cms-tile-3 .link-text {
    border-radius: 3px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    min-width: 9rem;
    border: solid 2px;
    text-transform: uppercase;
    color: #e10e5d;
    border-color: #e10e5d;
    background-color: white;
    border-radius: 3px !important;
}

.btn-select {
    border-radius: 3px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    min-width: 9rem;
    border: solid 2px;
    text-transform: uppercase;
    color: #019a91;
    border-color: #019a91;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 5px;
}
.btn-select:active, 
.btn-select.active {
    color: #fff;
    border-color: #fff;
    background-color: #019a91;
    border-radius: 3px !important;
}
#loginform .btn-main,
#registerform .btn-main {
    background-color: #019a91;
    border-radius: 3px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    min-width: 9rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px !important;
    border-width: 2px;
    border-color: #019a91;
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
}
#loginform .btn-main:hover,
#registerform .btn-main:hover {
    background-color: #fff;
    border-color: #019a91;
    color: #019a91;
}
.btn-main:active,
#home-page #cms-tile-3 .link-text:active {
    outline: 0 !important
}

.btn-main.semi-transparent,
#home-page #cms-tile-3 .semi-transparent.link-text {
    background-color: rgba(255, 255, 255, 0.8)
}

.btn-main.semi-transparent:active,
#home-page #cms-tile-3 .semi-transparent.link-text:active {
    color: white;
    background-color: #c44443;
    border-color: #c44443
}

.btn-main.semi-transparent:disabled,
#home-page #cms-tile-3 .semi-transparent.link-text:disabled {
    color: #f89797;
    border-color: #f89797;
    background-color: white;
    opacity: .5
}

.tab-active {
    color: white !important;
    background-color: #e10e5d !important;
    border-color: #e10e5d !important;

}
#text-alerts {
    float: right;
    width: 40%;
    margin: 0 5%;  
}
#email-alerts {
    float: left;
    width: 40%;
    margin: 0 5%;  
}


.btn-main:active,
#home-page #cms-tile-3 .link-text:active {
    color: white;
    background-color: #c44443;
    border-color: #c44443
}

.btn-main:disabled,
#home-page #cms-tile-3 .link-text:disabled {
    color: #f89797;
    border-color: #f89797;
    background-color: white;
    opacity: .5
}

.btn-main .label,
#home-page #cms-tile-3 .link-text .label {
    color: inherit;
    font-size: inherit;
    top: 0;
    font-weight: normal
}

.btn-main.btn-lg,
.btn-group-lg>.btn-main.btn,
#home-page #cms-tile-3 .btn-group-lg>.btn.link-text,
#home-page #cms-tile-3 .btn-lg.link-text {
    font-size: 1rem;
    width: 14rem;
    height: 3rem;
    margin-left: 1rem
}

.btn-main-green {
    border-radius: 3px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    min-width: 9rem;
    border: solid 2px;
    text-transform: uppercase;
    color: #6bb5aa;
    border-color: #9dcac3;
    background-color: white
}

.btn-main-green:active {
    outline: 0 !important
}

.btn-main-green.semi-transparent {
    background-color: rgba(255, 255, 255, 0.8)
}

.btn-main-green.semi-transparent:active {
    color: white;
    background-color: #6bb5aa;
    border-color: #6bb5aa
}

.btn-main-green.semi-transparent:disabled {
    color: #c7e3d9;
    border-color: #c7e3d9;
    background-color: white;
    opacity: .5
}

@media (min-width: 992px) {
    .btn-main-green:hover {
        color: white;
        background-color: #9dcac3;
        border-color: #9dcac3
    }
}

.btn-main-green:active {
    color: white;
    background-color: #6bb5aa;
    border-color: #6bb5aa
}

.btn-main-green:disabled {
    color: #c7e3d9;
    border-color: #c7e3d9;
    background-color: white;
    opacity: .5
}

.btn-main-green .label {
    color: inherit;
    font-size: inherit;
    top: 0;
    font-weight: normal
}

.btn-main-green.btn-lg,
.btn-group-lg>.btn-main-green.btn {
    font-size: 1rem;
    width: 14rem;
    height: 3rem;
    margin-left: 1rem
}
.pull-left {
	margin-top: .5rem;
}
.pull-left a { 
	display: inline; 
	color: #e10e5d;
}
.page-login-forgot {
	display: inline;
	color: #e10e5d;
	font-size: 12px;
	float: right;
}



.custom-share-button {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #55acee;
  padding: .8em 1.2em;
  border-radius: 3px;
  display: inline-block;
}
.custom-share-button-icon,
.custom-share-button-label {
  display: inline-block;
  vertical-align: middle;
}
.custom-share-button-icon {
  width: 1em;
  height: 1em;
  margin-right: .2em;
}
.custom-share-button-icon path { fill: #fff; }
.custom-share-button-label {
  font-size: .9em;
  font-weight: 500;
}
.custom-share-button:hover { background-color: #70b7ec; }

.fb-login {
	margin-bottom: 50px;
}

#login-container #loginbox .social-logins {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 2px solid #eeeeee
}

#login-container #loginbox .social-logins .social-login {
    margin-bottom: 0.4rem
}


#login-container .input-group {
    padding: 0
}

#login-container .btn-social .btn {
    display: inline-block;
    font-size: 20px;
    border-left: 1px solid #e6e6e6;
    color: #888888;
    padding: 9px 0 10px;
    margin: 0 0 0 -4px;
    border-radius: 0
}

@media (min-width: 992px) {
    #login-container .btn-social .btn:hover {
        color: #fff
    }
}

#login-container .btn-social .btn.btn-facebook:hover {
    background-color: #2521c6
}

#login-container .btn-social .btn.btn-twitter:hover {
    background-color: #34cfe4
}

#login-container .btn-social .btn.btn-google-plus:hover {
    background-color: #d92929
}

#login-container .btn-social .btn i {
    padding: 0 15px 0 17px
}
.ml-icon.ml-facebook-login {
    background-image: url(../images/fb_login-d3ec2af7a2bc60956c5dce18f1c533b2.png);
    background-size: 100% 100%;
    height: 42px;
    width: 303px;
}

.pageapp-login.bg-5.cover-screen {
	height: 100%;
}

#sell-link {
    -webkit-transition: all ease-in-out 0.8s;
    -moz-transition: all ease-in-out 0.8s;
    -ms-transition: all ease-in-out 0.8s;
    -o-transition: all ease-in-out 0.8s;
    transition: all ease-in-out 0.8s;
    text-align: center;
    border-bottom: solid 3px white;
    margin-bottom: 0;
    padding: 2rem 0;
    background-color: #c7e3d9;
    height: 140px;
    margin-top: 80px;
    animation: color-me-in 25s;
}

#sell-link.active {
    background-color: #ebf4f3
}

#sell-link h3 a {
    color: #f36523;
}

#sell-link h3 {
    text-decoration: none;
    color: #f36523;
    font-size: 30px;
    display: inline;
    width: 55%;
    float: left;
    text-align: right;
    margin: 5px 40px 5px 0;
	position: relative;
    top: 24px;
}
#sell-link img {
	display: inline;
    float: left;
    text-align: left;
    margin: 5px 0;
    width: 187px;
    height: 74px;
}
#footer {
    margin-top: 5px;
    padding-bottom: 2rem;
    padding-top: 0rem;
    background-color: #eeeeee;
}
span > a {
    display: inline-block;
}
.text-center {
	text-align: center;
    min-height: 100px;
}
.share-icons h2 {
	color: #595a5c;
	padding-top: 30px;
}
@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    background: #c7e3d9;
  }
  10% {
    background: #f5f5f5;
  }
  20% {
    background: #c7e3d9;
  }
  30% {
    background: #f5f5f5;
  }
  40% {
    background: #c7e3d9;
  }
  50% {
    background: #f5f5f5;
  }
  60% {
    background: #c7e3d9;
  }
  70% {
    background: #f5f5f5;
  }
  80% {
    background: #c7e3d9;
  }
  90% {
    background: #f5f5f5;
  }
  /* You could think of as "step 2" */
  100% {
    background: #f5f5f5;
  }
}


h1, h2, h3, h4, h5, h6 {
	font-family: LLCircularWeb, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;		
}

.back-to-top-badge {
	top: 105px;
}

/* Register Page */
.page-register .header-clear-large {
	height: 150px !important;
}
.page-register .boxed-layout {
    max-width: 350px;
    margin: auto;
}
.page-register label {
	margin-left: 0px;
}
.pageapp-login .boxed-layout div input {
    padding-left: 0px;
}

/* index.php page */
.one-half-responsive {
    width: 60%;
    float: none;
    margin-right: auto;
    margin-left: auto;
}



.pageapp-login-content {
    width: 100%;
}
body .bg-5 {
    background: #fff !important;
}

body #page-container .et_pb_button_2 {
    color: #ffffff !important;
    background: #a9a9a9;
    border-radius: 10px;
    letter-spacing: 0px;
    font-size: 20px;
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif !important;
}

body #page-container .et_pb_button_1:before,
body #page-container .et_pb_button_1:after {
    display: none !important;
}

.et_pb_button_1,
.et_pb_button_1:hover {
    padding: 0.3em 1em !important;
}

body #page-container .et_pb_button_1:hover {
    color: #019a91 !important;
    background: #ffffff !important;
    border-color: #019a91 !important;
    border-radius: 10px;
    letter-spacing: 0px;
    padding-left: 0.7em;
    padding-right: 2em;
}

body #page-container .et_pb_button_2:hover {
    color: #a9a9a9 !important;
    background: #ffffff !important;
    border-color: #a9a9a9 !important;
    border-radius: 10px;
    letter-spacing: 0px;
    padding-left: 0.7em;
    padding-right: 2em;
}

.et_pb_button_2,
.et_pb_button_2:hover {
    padding: 0.3em 1em !important;
}

.et_pb_text_1 p {
    line-height: 1.1em;
}

.et_pb_text_1 {
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 100;
    font-size: 36px;
    line-height: 1.1em;
    margin-top: 30px !important;
    margin-bottom: 0px !important;
    font-weight: 300;
}

.text-header {
    color: #019a91 !important;
}

.text-header {
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 100;
    font-size: 36px;
    line-height: 1.1em;
    margin-top: 30px !important;
    margin-bottom: 0px !important;
    font-weight: 300;
}
.text-header p {
    font-size: 1.1em;
}
.et_pb_text_1 h1 {
    font-size: 50px;
    color: #7c65a1 !important;
}

body #page-container .et_pb_button_2:before,
body #page-container .et_pb_button_2:after {
    display: none !important;
}

body #page-container .et_pb_button_1 {
    color: #ffffff !important;
    background: #019a91;
    border-radius: 10px;
    letter-spacing: 0px;
    font-size: 20px;
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif !important;
}

.et_pb_button_0.et_pb_button.et_pb_module {
    margin-top: 50px;
}

.et_pb_image_0 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    text-align: center;
}

.text-header h1 {
    font-size: 50px;
    color: #7c65a1 !important;
}

.et_pb_row_0.et_pb_row {
    padding-top: 25px;
    padding-bottom: 25px;
}

.et_pb_row_0 {
    text-align: center;
    width: 100%;
}

.et_pb_section_0.et_pb_section {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.text-header.et_pb_text {
    color: #019a91 !important;
}

.text-header p {
    line-height: 1.1em;
}

.et_pb_button_0,
.et_pb_button_0:hover {
    padding: 0.3em 1em !important;
}

body #page-container .et_pb_button_0:before,
body #page-container .et_pb_button_0:after {
    display: none !important;
}

body #page-container .et_pb_button_0:hover {
    color: #7c65a1 !important;
    background: #ffffff !important;
    border-color: #7c65a1 !important;
    border-radius: 10px;
    letter-spacing: 0px;
    padding-left: 0.7em;
    padding-right: 2em;
}

body #page-container .et_pb_button_0 {
    color: #ffffff !important;
    background: #7c65a1;
    border-radius: 10px;
    letter-spacing: 0px;
    font-size: 20px;
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif !important;
}

.text-header {
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 100;
    font-size: 36px;
    line-height: 1.1em;
    margin-top: 30px !important;
    margin-bottom: 0px !important;
    font-weight: 300;
}


.text-header .errormsg {
    color: red !important;
    font-size: 18px !important;
}

.et_pb_section_0 {
    border-top: solid 1px #C4B4DF;
}

.text-center {
    min-height: 15px !important;
}
.emoji {
    width: 15px;
}

.checkbox-list input {
  position: absolute;
  left: -9999px;
}
.checkbox-list div {
margin: 0 auto;
}
.checkbox-list label {
  display: block;
  position: relative;
  margin: 20px 0;
  padding: 15px 30px 15px 62px;
  border: 3px solid #7c65a1;
  border-radius: 20px;
  color: #7c65a1;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
  font-size: 20px !important;
  font-weight: 700;
}

.checkbox-list label::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 38px;
  border: 3px solid #fff;
  border-radius: 100px;
  transition: background-color .2s;
}

.checkbox-list label:first-of-type {
  transform: translateX(-0px);
}

.checkbox-list label:last-of-type {
  transform: translateX(0px);
}

.checkbox-list label:hover, 
.checkbox-list input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.checkbox-list input[type=checkbox]:checked + label {
  background-color: #7c65a1;
  color: #fff;
}

.checkbox-list input[type=checkbox]:checked + label:before {
  background-color: #fff;
}

.styles-list .checkbox-list input[type=checkbox]:checked + label {
    background-color: #019a91;
color: #fff;
}
.styles-list .checkbox-list label {
  border-color: #019a91;
color: #019a91;
}

.more-list .checkbox-list input[type=checkbox]:checked + label {
    background-color: #019a91;
color: #fff;
}
.more-list .checkbox-list label {
  border-color: #019a91;
color: #019a91;
}

.gfield_label, . gform_footer,
.gform_wrapper .top_label .gfield_label, 
.gform_wrapper label.gfield_label, 
label {
  display: none !important;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
select {
padding: 10px !important;
border-radius: 10px !important;
}
.gfield_description {
padding-top: 5px !important;
text-align: center;
}
.gform_wrapper select {
height: 50px !important;
}
#input_1_4 {
margin-top: 0px !important;
}



#tothetop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(243, 101, 35, .7); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-weight: 700;   
}

#tothetop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.filter {
    background-color: #fff;
}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}


@media (min-width: 300px) {
    .one-half-responsive {
        width: 90%;
    }
    .btn-select {
        font-size: 13px;
        padding-left: .25rem;
        padding-right: .25rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}

@media (min-width: 992px) {
    .btn-main:hover,
    #home-page #cms-tile-3 .link-text:hover {
        color: white;
        background-color: #e10e5d;
        border-color: #e10e5d
    }
    .one-half-responsive {
        width: 60%;
    }
    .btn-select {
        font-size: 18px;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 0.65rem;
        padding-bottom: 0.65rem;
    }
}
@media only screen and ( max-width: 980px) {
    body #page-container .et_pb_button_2,
    body #page-container .et_pb_button_2:after {}
    body #page-container .et_pb_button_1,
    body #page-container .et_pb_button_1:after {}
    body #page-container .et_pb_button_0,
    body #page-container .et_pb_button_0:after {}
}

@media only screen and ( max-width: 767px) {
    .et_pb_text_1 {
        font-size: 30px;
    }
    body #page-container .et_pb_button_2,
    body #page-container .et_pb_button_2:after {}
    body #page-container .et_pb_button_1,
    body #page-container .et_pb_button_1:after {}
    body #page-container .et_pb_button_0,
    body #page-container .et_pb_button_0:after {}
    .text-header {
        font-size: 30px;
    }
}
      